a{
  text-decoration: none;
  color: #fff;
  &:hover,&:active{
    color: lightgray;
  }
}
.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}
mat-toolbar{
  height: 60px;
  font-size: 19px;
}
