<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="onToggleSideNav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span><a routerLink="/">FitTracker</a></span>
  <div fxFlex fxLayout='row' fxLayoutAlign="flex-end" fxLayoutGap="12px" fxHide.xs>
    <ul fxLayout fxLayoutGap="12px" class="navigation-items">
      <li *ngIf="isAuth$ | async"><a routerLink="/training">Training</a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">SignUp</a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth$ | async"><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>

</mat-toolbar>
