<section>
  <form (ngSubmit)="submitForm(f)" fxLayout="column" fxLayoutAlign="center center" #f="ngForm" >
    <mat-form-field style="width: 30%">
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        required
        email
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')">E-mail field can't be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
    </mat-form-field >
    <mat-form-field hintLabel="Should be at least 6 characters long." style="width: 30%">
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint align="end">({{pwInput.value?.length}} / 6)</mat-hint>
      <mat-error *ngIf="pwInput.value?.length<6">Password length must be at least 6 characters long.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
